.circuits {
  margin-top: 60px;
  padding-top: 30px;
}

.circuits-header {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 30px;
}



.circuits-description {
  font-size: 24px;
  font-weight: 300;

  width: 50%;

}

.circuit-name {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 30px;
}

.table-section-header {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px;

}

.circuit-description {
  font-size: 24px;
  margin-bottom: 60px;
  font-weight: 300;
  width: 50%
}
