.nav {
  display: flex;
  height: 60px;
  border-bottom: 1px solid rgb(10 10 114);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 0 10px;
  justify-content: space-between;
  z-index: 1;
  background: #fff;
}

.logo {
  width: 200px;
  margin-left: 50px;
}
.logo img {
  
}

.nav-buttons {
  width: 700px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

.nav-buttons li a {
  padding: 5px;
  font-size: 1.55em;
}

.nav-buttons li a.active, .nav-buttons li a:hover {
  color: #ccc;
}
