
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Mikpower</title>
    <script type="text/javascript" src="../static/bundle.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'layout.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'gird.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'nav.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'about.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'contact.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'solutions.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'table.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'circuits.css') }}">

  </head>
  <body>
    <div id="root">
    </div>
  </body>
</html>
